body {
    font-family: Arial, sans-serif;
    text-align: center;
}


#contador {
    font-size: 24px;
    margin-bottom: 10px;
}
.boton {
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
}
#mensaje {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.verde {
    color: green;
}
.rojo {
    color: red;
}