.container {
    display: flex;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.container1 {
    background-color: #c7c2c2;
    border: 1px solid #5a5555d5;
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    height: 60px;
    border-radius: 10px;
}

.encabezado {
    height: 20px;
}
.logo {
    border: 1px solid black;
    background-color: #0b0b5ad5;
    height: 20px;
    color: #e7dfdf;
    padding-inline-start: 10px;
}
.menu1 {
    border: 1px solid black;
    background-color: forestgreen;
    height: 20px;
    color: #e7dfdf;
    padding-inline-start: 10px;
}
.menu2 {
    border: 1px solid black;
    background-color: red;
    height: 20px;
    color: #e7dfdf;
    padding-inline-start: 10px;
}

.container2 {
    display: flex;
    padding: 1px;
    justify-content: space-around;
    height: 180px;
}

.izquierda {
    background-color: #4b4a4a;
    color: #e7dfdf;
    border: 1px solid #5a5555d5;
    border-radius: 10px;
    width: 28%;
    padding-inline: 10px;
    padding-top: 10px;
}
.centro {
    background-color: #21979b;
    color: #e7dfdf;
    border: 1px solid #5a5555d5;
    border-radius: 10px;
    width: 28%;
    padding-inline: 10px;
    padding-top: 10px;
}
.derecha {
    background-color: #e6870be1;
    color: #e7dfdf;
    border: 1px solid #5a5555d5;
    border-radius: 10px;
    width: 28%;
    padding-inline: 10px;
    padding-top: 10px;
}

.container3 {
    display: flex;
    padding-top: 8px;
    justify-content: space-around;
    height: 200px;
}
.izquierda2 {
    background-color: #0f3308;
    color: #e7dfdf;
    border: 1px solid #5a5555d5;
    border-radius: 10px;
    width: 62%;
    padding-inline: 10px;
    padding-top: 10px;
}
.derecha2 {
    background-color: #a14109;
    color: #e7dfdf;
    border: 1px solid #5a5555d5;
    border-radius: 10px;
    width: 28%;
    padding-inline: 10px;
    padding-top: 10px;
}

.container4 {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    background-color: #08c5d3;
    border-radius: 10px;
    width: 98%;
    height: 80px;
    border: 1px solid #5a5555d5;
    margin-top: 10px;
}
.pie {   
    padding: 15px;
}
.elemento {
    background-color: #0b0b5ad5;
    border: 1px solid #131212d5;
    color: #e7dfdf;
    align-self: self-end;
    margin-bottom: 25px;
    margin-right: 20px;
    padding-bottom: 10px;
    padding-inline: 20px;
    align-content: center;
    
}